<p>가상계좌 발급 완료</p>

<table>
  <caption>주문 & 가상계좌 정보</caption>
  <colgroup>
    <col style="width:210px">
    <col>
  </colgroup>
  <tbody>
  <tr>
    <th scope="row">UserID</th>
    <td><%= @order_params[:user_id] %></td>
  </tr>
  <tr>
    <th scope="row">OrderNo</th>
    <td><%= @order_params[:order_no] %></td>
  </tr>
  <tr>
    <th scope="row">Pgcode</th>
    <td><%= @order_params[:pgcode] %></td>
  </tr>
  <tr>
    <th scope="row">Amount</th>
    <td><%= @order_params[:amount] %></td>
  </tr>
  <tr>
    <th scope="row">ProducName</th>
    <td><%= @order_params[:product_name] %></td>
  </tr>
  <tr>
    <th scope="row">AccountName</th>
    <td><%= @order_params[:account_name] %></td>
  </tr>
  <tr>
    <th scope="row">AccountNo</th>
    <td><%= @order_params[:account_no] %></td>
  </tr>
  <tr>
    <th scope="row">BankCode</th>
    <td><%= @order_params[:bank_code] %></td>
  </tr>
  <tr>
    <th scope="row">BankName</th>
    <td><%= @order_params[:bank_name] %></td>
  </tr>
  <tr>
    <th scope="row">ExpireDate</th>
    <td><%= @order_params[:expire_date] %></td>
  </tr>
  </tbody>
</table>