<!DOCTYPE html>
<html>
	<%# Head %>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127679013-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-127679013-1');
    </script>  
    <title>eoshub</title>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">

	<meta name="description" content="Eoshub is an UX-focused EOS toolkit service. Through intuitive UI, users can experience EOS functions such as search account, transfer, stake, vote, and more in a fun and easy manner.">

    <meta name="author" content="EOSYS">
    <meta name="copyright" content="Team EOSYS">
    <meta name="application-name" content="eoshub.io">

	<meta property="og:title" content="eoshub.io | EOS Toolkit Platform - EOSYS" />
    <meta property="og:type" content="article">
	<meta property="og:image" content="/assets/packs/conf/og-eoshub.png" />
	<meta property="og:url" content="https://eoshub.io" />
	<meta property="og:description" content="eoshub is an UX-focused EOS toolkit service. Through intuitive UI, users can experience EOS functions such as search account, transfer, stake, vote, and more in a fun and easy manner." />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="eoshub.io | EOS Toolkit Platform - EOSYS">
	<meta name="twitter:description" content="eoshub is an UX-focused EOS toolkit service. Through intuitive UI, users can experience EOS functions such as search account, transfer, stake, vote, and more in a fun and easy manner.">
    <meta name="twitter:image" content="/assets/packs/conf/og-eoshub.png">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'index', media: 'all' %>

	<link rel="shortcut icon" type="image/x-icon" href="/assets/packs/conf/hubby.ico">
  </head>

  <body>
    <%= yield %>
  </body>
  <%= javascript_pack_tag 'index' %>
</html>
