<!DOCTYPE html>
<html>
	<%# Head %>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127679013-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-127679013-1');
    </script>  
    <title>eoshub</title>
	<link rel="shortcut icon" type="image/x-icon" href="/assets/packs/conf/hubby.ico">
	<meta property="og:title" content="Eoshub.io" />
	<meta property="og:description" content="Toolkit For Eos" />
	<meta property="og:image" content="/assets/packs/conf/og-eoshub.png" />
	<meta property="og:url" content="https://eoshub.io" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'index', media: 'all' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <%= javascript_pack_tag 'index' %>
</html>
