<!DOCTYPE html>
<html>
  <head>
    <title>EoshubIo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= stylesheet_pack_tag 'index', media: 'all' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'index' %>
</html>
